@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-yellow: #ffde21;
  --custom-yellow-dark: #bfa719;
  --custom-yellow-fade: #fffce9;
  --custom-dark: #1a1a1a;
  --custom-ash: #f5f5f5;
  --custom-blue: #18a0fb;
  --custom-blue-fade: #18a0fb00;
  --success: #00a991;
  --danger: #a92200;
  --ash-dark: #fffce94d;
}

body {
  background: var(--custom-dark);
}

main::-webkit-scrollbar,
.graphContainer::-webkit-scrollbar {
  /* width: 5px; */
  display: none;
}

/* main::-webkit-scrollbar-thumb {
  background: var(--custom-dark);
} */

.custom_box_shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .sidebarLink.active {
    @apply text-custom_yellow_dark bg-ash_dark rounded-md;
  }

  .sidebarLink {
    @apply flex items-center space-x-2 px-2 py-3 border-l-[3px] border-transparent my-2;
  }

  .sidebarSubLink {
    @apply hover:text-custom_yellow w-fit my-3 capitalize;
  }

  .sidebarSubLink.active {
    @apply text-custom_yellow w-fit;
  }
}
