@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a1a1a;
}

main::-webkit-scrollbar,
.graphContainer::-webkit-scrollbar,
.sidebar::-webkit-scrollbar,
.view_screen::-webkit-scrollbar {
  display: none;
}

.order_column::-webkit-scrollbar {
  width: 6px;
}

.order_column::-webkit-scrollbar-thumb {
  background: #8f8e8e;
  border-radius: 5px;
}

/* main::-webkit-scrollbar-thumb {
  background: var(--custom-dark);
} */

.custom_box_shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .sidebarLink.active {
    @apply text-custom_yellow_dark bg-ash_dark rounded-md;
  }

  .sidebarLink {
    @apply flex items-center space-x-2 px-2 py-3 border-l-[3px] border-transparent my-2;
  }

  .sidebarSubLink {
    @apply hover:text-custom_yellow w-fit my-3 capitalize;
  }

  .sidebarSubLink.active {
    @apply text-custom_yellow w-fit;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
